<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Details</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
<%- include('partials/navbar') %>
<div class="container">
        <% if (game) { %>
            <h1><%= game.white_player %> vs <%= game.black_player %></h1>
            <p>Result: <%= game.result %></p>
            <p>Date Played: <%= game.date_played %></p>
            <p>White Elo: <%= game.white_elo %></p>
            <p>Black Elo: <%= game.black_elo %></p>
            <p>Site: <%= game.site %></p>
            <p>Opening: <%= game.opening %></p>
            <h3>Moves:</h3>
            <ol>
                <% moves.forEach(move => { %>
                    <li><%= move.move_number %>. (<%= move.color %>) <%= move.san %></li>
                <% }) %>
            </ol>
            <form method="POST" action="/games/<%= game.id %>/edit">
            <label for="notes"></label>
            <textarea id="notes" name="notes"><%= game.notes %></textarea>
            </form>

    <script>
        const textarea= document.getElementById('notes');
        let clocker = null
        if(textarea){
            textarea.addEventListener('focusout', () => {
                clearTimeout(clocker);
                clocker = setTimeout(() => {
                fetch('/games/<%= game.id %>/edit', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                    body: new URLSearchParams ( { notes : textarea.value}).toString()
                })
                }, 1000);
            })
        }
    </script>

    <% } else { %>
            <p>Game not found</p>
        <% } %>
</div>
</body>
</html>