<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%- include('partials/navbar') %>
<div class="container">
    <h1>Your Chess Games</h1>
    <% if (games.length > 0) { %>
        <ul>
            <% games.forEach(game => { %>
                <li><a href="/games/<%= game.id %>"><%= game.white_player %> vs <%= game.black_player %> - <%= game.result %></a> <form method="POST" action="/games/<%= game.id %>/delete"> <button type= "submit">X</button></form></li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No games imported yet.</p>
    <% } %>
    <button><a href="/import">Import a game</a></button>
</div>
</body>
</html>
