<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%- include('partials/navbar') %>
<div class="container">
    <h1>Your Chess Games</h1>
    <% if (games.length > 0) { %>
        <ul class="games-list">
            <% games.forEach(game => { %>
                <li class="game-card">
                    <div class="game-info">
                    <a href="/games/<%= game.id %>"><%= game.white_player %> vs <%= game.black_player %> - <%= game.result %></a> 
                    </div>
                    <div class="deletegame-btn">
                    <form method="POST" action="/games/<%= game.id %>/delete"> 
                    <button type= "submit">X</button></form>
                    </div>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No games imported yet.</p>
    <% } %>
    <a class="import-btn" href="/import">Import a game</a>
</div>
</body>
</html>
